pre {
	margin:0;
	display:inline-block;
	padding:0;
	width:100%;
}

code {
	padding:0;
	margin:0;
}

p.code {
	background-color:rgba(255, 255, 255, 0.6);
	font-family:"Consolas";
	font-size:14px;
	border:1px solid white;
	padding:10px;
}

span.object {
	color:teal;
}

span.keyword {
	color:blue;
}

span.comment {
	color:green;
}

span.string {
	color:darkred;
}


table {
    background-color:rgba(255, 255, 255, 0.6);
    color:black;
}

tr.head {
    background-color:rgb(125, 125, 125);
    font-weight:bold;
    text-align:left;
}

td {
    padding:15px;
    min-width:200px;
}
td:first-child {
	max-width:100%;
	white-space:nowrap;
}

table, tr, td {
    border:1px solid black;
    border-collapse:collapse;
}